[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2 = "*"
django-cors-headers = "*"
asgiref = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
drf-social-oauth2 = "*"
social-auth-app-django = "*"
django-oauth-toolkit = "*"
djangorestframework-simplejwt = "*"
unidecode = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
