.container {
  display: flex;
  min-height: 100vh;
}

.sidebar-container {
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 111;
  background-color: rgb(32, 32, 32);
  box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
  width: 248px;
  transition: width 200ms ease;
  overflow-y: auto;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.div-content {
  order: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  isolation: auto;
  background: transparent;
}

.header-notes-container {
  display: flex;
  background: rgb(25, 25, 25);
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100vw;
  -webkit-user-select: none;
  user-select: none;
}

.main-notes-container {
  display: flex;
  overflow-y: auto;
  flex-grow: 1;
  flex-direction: column;
  background: rgb(25, 25, 25);
  z-index: 1;
  height: 100vh;
  position: relative;
  opacity: 1;
  transform: translateX(0px);
  transition: width 200ms ease, opacity 200ms ease, transform 200ms ease;
}

.notes-sidebar-swicher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.notes-sidebar-swicher-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: rgb(155, 155, 155);
  transition: color 0.2s ease;
}

.notes-sidebar-swicher-button:hover {
  color: #ffffff;
}

.notes-sidebar-username {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.81);
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
}

.notes-sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
  color: white;
}

.notes-sidebar-menu h1 {
  font-size: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.notes-sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes-sidebar-menu li {
  display: flex;             
  width: 100%; 
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.2s;
  box-sizing: border-box; 
  align-items: center;
}

.notes-sidebar-menu li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.notes-sidebar-menu a {
  text-decoration: none;
  color: inherit;
}

.notes-sidebar-menu .bottom-list {
  margin-top: auto;
}
.icons-wrapper {
  margin-left: auto;
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.note-sidebar-icon:hover{
  background-color: rgb(70, 70, 70);
  padding: 2px;
  border-radius: 2px;
}
