.form-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: 50px auto;
    padding: 20px;

    border:none;
    max-width: 500px;
   
}
.form-input{
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #ccc; 
   border-radius: 4px;
   box-sizing: border-box;
}
.form-button{
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.form-button:hover{
    background-color: #0056b3;
}
.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto 20px;
}
.headline{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.264px;
    line-height: 26px;
    margin: 0px;
}

.form-subtitle{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.264px;
    line-height: 26px;
    margin: 0px;
    color: rgba(70, 68, 64,0.45);
}