.notes-create-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 48px 16px;
  box-sizing: border-box;
  z-index: 1;
}

.note-title {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.3;
  resize: none;
  outline: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.note-content {
  position: relative;
}

.note-editor {
  margin-top: 20px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  background-color: transparent;
}

.slash-menu {
  background-color: #252525;
  border: 1px solid #252525;
  border-radius: 8px;
  padding: 8px;
  z-index: 1000;
}
.slash-menu div {
  padding: 4px 8px;
  cursor: pointer;
}
.slash-menu div:hover {
  background-color: #303030;
  border-radius: 8px;
}
