.notes-create-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 48px 16px;
  box-sizing: border-box;
  z-index: 1;
  overflow: visible;
}

.note-title {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.3;
  resize: none;
  outline: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.note-content {
  position: relative;
  overflow: visible;
}

.note-editor {
  margin-top: 20px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  background-color: transparent;
}

.slash-menu {
  width: 240px;
  max-height: 30vh;
  background-color: #252525;
  border: 1px solid #252525;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;   
  z-index: 1000;
}

.slash-menu-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;    /* забезпечує повну висоту контейнера */
  min-height: 0;   /* дозволяє flex-елементам правильно скролитися */
  flex: 1;         /* розтягує по висоті, якщо потрібно */
}


.slash-menu-scroll {
  flex: 1;                
  overflow-y: auto;       
  min-height: 0;          
  overscroll-behavior: contain;
}

.slash-menu-group {
  padding: 8px 0;
}

.slash-menu-group > div:not(.slash-menu-group-title):hover {
  background-color: #292929;
  border-radius: 8px;
}

.slash-menu-group-title {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 4px 12px;
  color: #666;
  background-color: transparent;
  text-align: left;
}

.slash-menu-scroll div {
  padding: 8px 12px;
  cursor: pointer;
}

.slash-menu-footer {
  flex-shrink: 0;         
  padding: 8px 12px;
  text-align: left;
  font-weight: bold;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
  cursor: pointer;
  position: sticky;     
  bottom: 0;
  z-index: 3;
}
