{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ваш пароль зміненно</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            background-color: snow;
        }
        .welcom-line {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }
        .automatic-line {
            font-size: 10px;
            color: #333;
        }
    </style>
</head>
<body>
    <h2 class="change-line">Ваш пароль зміненно</h2>
    <p>Ваш пароль успішно змінено. Якщо ви не ініціювали цю зміну, будь ласка, зв'яжіться з нами.</p>
    <p>Якщо у вас виникли питання, не соромтеся звертатися до нас.</p>
    <p>З найкращими побажаннями,<br>Команда підтримки</p>

</body>
</html>
