<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ласкаво просимо</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            background-color: snow;
        }
    </style>
</head>
<body>
    <p>Привіт, {{ user.email }}!</p>
    <p>Ви отримали цей лист, оскільки ми отримали запит на скидання пароля для вашого облікового запису.</p>
    <p>Щоб скинути пароль, натисніть на посилання нижче:</p>
    <p><a href="{{ reset_link }}">Скинути пароль</a></p>
    <p>Якщо ви не робили цього запиту, просто проігноруйте цей лист.</p>

</body>
</html>